@font-face {
    font-family: 'Welcome Darling';
    src: url('fonts/WelcomeDarling.woff2') format('woff2'),
        url('font/sWelcomeDarling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#hero {
  width: 30%;
  position: relative;
}

#logo-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.400);
}

#logo-section > h1 {
  font-family: 'Welcome Darling', Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

#hero-logo {
  max-width: 50%;
}

#hero-image {
  height: 100vh;
  width: 100%;
}
