@font-face {
    font-family: 'Welcome Darling';
    src: url('fonts/WelcomeDarling.woff2') format('woff2'),
        url('font/sWelcomeDarling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --main-bg: #f9fafb;
  --main-padding-left: 50px;
  --bluish: #2f3945;
  --blue: #1877F2;
  --darker-blue: #166FE5;
  --darkest-blue: #145DBF;
}

img {
  display: block;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-bg);
}

#hero {
  width: 40%;
  position: relative;
}

#logo-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.400);
}

#logo-section > h1 {
  font-family: 'Welcome Darling', Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

#hero-logo {
  max-width: 50%;
}

#hero-image {
  height: 100vh;
  width: 100%;
}

#main {
  flex: 1;
}

#top-section {
  font-size: 1.5rem;
  padding: 150px 0 50px var(--main-padding-left);
}

#mid-section {
  background-color: white;
  padding: 15px 0 40px var(--main-padding-left);
  margin-bottom: 30px;
  box-shadow: 0px 4px 5px rgb(206, 206, 206);
}

#bottom-section {
  padding-left: var(--main-padding-left);
}

#mid-section > p {
  font-size: 1.5rem;
  color: var(--bluish);
  margin-bottom: 20px;
}

#form-rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 60px;
}

input {
  display: block;
  width: 250px;
  padding: 4px 0px 4px 4px;
}

label {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: var(--bluish);
}

button {
  color: white;
  background-color: var(--blue);
  padding: 12px 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 25px;
}

button:hover {
  cursor: pointer;
  background-color: var(--darker-blue);
}

button:active {
  background-color: var(--darkest-blue)
}

#bottom-section a {
  text-decoration: none;
  color: var(--blue);
}